body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.vertical > button.ui.icon.button.quantity-selection {
  padding: 0.2em;
}

input.quantity-selection {
  width: 4em;
  font-size: 1.2em;
  text-align: center;
}

.cart-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#page-title-home {
  font-family: 'Megrim', cursive;
  padding-bottom: 0.3em;
  font-size: 5em;
}

#homepage-banner {
  height: 14em;
}

.main-content-section {
  padding: 10px;
}

#main-nav {
  margin-bottom: 15px;
}
